/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
body{
  background : #f1f2fe;
}
body main > .top{
  position: relative;
  top : 100px;
  height: 100vh;
}
body main > .top .circles{
  width: 50%;
  height: 70vh ;
  position: absolute;
  top : 20%;
  right: 0 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
body main > .top .circles .item{
  width:8px;
  height:8px;
  border-radius: 50%;
  background : #BABFF8;
  padding : 5px 5px;
  margin : 0 5px;
  display: block;
  opacity: .5;
}

body main > .top .main {
  width: 50%;
  position: absolute;
  top : 10% ;
  right : 50%;
  transform: translate(50%);
}
body main > .top .main .header .items { 
  display: flex;
  justify-content: space-around;
}
body main > .top .main .header .items .item{
  width: 30%;
  padding : 30px;
  cursor: pointer;
  border-radius: 20px;
  color : #fff;
  box-sizing: border-box;
  transition: .2s;
  position: relative;
}
body main > .top .main .header .items .item.active{
  top : -20px;
  transform: scale(1.1);
}
body main > .top .main .header .items .item.language{
  background : #F55787;
}
body main > .top .main .header .items .item.brain{
  background : #8A75F8;
}
body main > .top .main .header .items .item .bottom {
  margin-top : 10px;
}
body main > .top .main .header .items .item.js{
  background : #FF9E2D;
}
body main > .top .main .main-list {
  height: 40vh;
  background : #F5F6FF;
  margin-top : 30px;
  border-radius: 20px;
}
body main > .top .main .main-list .lists{
  display: flex;
}
body main > .top .main .main-list .lists nav{
  margin : 0 30px;
  padding : 30px 0 ;
  box-sizing: border-box;
}
body main > .top .main .main-list .lists nav ul li{
  line-height: 2;
}
body main > .top .main .main-list .lists nav ul li a{
  text-decoration : none; 
  color : #333333;
}
body main > .top .main .main-list .lists nav ul li a:hover{
  color : #7D7D7D;
}
body .bottom-page{
  position: relative;
  height: 70vh;
  transform: translateY(40px);
  overflow: hidden;
  box-sizing: border-box;
}
body .bottom-page > .container{
  display: flex;
  flex-wrap: wrap;
  width : 90% ;
  transform : translateY(200px);
  margin : 0 auto;
}
body main .bottom-page .big-bottom-circle{
  border : 1px dashed #000;
  /* border-image: url('images/Ellipse\ 459.svg'); */
  border-width: 1px;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  bottom : 0 ;
  right: 0 ;
  z-index: -1;
  transform: translate(50% , 50%);
  padding : 50px;
  opacity: .5;
}
body main .bottom-page .big-bottom-circle .circle{
  width: 100%;
  height: 100%;
  background : #BABFF8;
  opacity: .5;
  border-radius: 50%;

}
body .bottom-page .right.info{
  width: 60%;
}
body .bottom-page .right.info .title h2{
  color : #525FE1;
  font-size: 1.5rem;
  line-height: 2;
}
body .bottom-page .right.info .main-body p{
  line-height: 2;
  width: 80%;
  padding : 10px 0 ;
}
body .bottom-page .right.info .foot button{
  padding : 10px;
  background : #626FF2;
  border : none;
  outline : none;
  border-radius : 8px;
  color : #fff;
}
body .bottom-page .right.info .foot button img{
  vertical-align: middle;
  margin-right : 10px;
}
body .bottom-page .left.slider {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
body .bottom-page .left.slider .flesh{
  position: absolute;
}
body .bottom-page .left.slider .flesh.payin{
  right : 20%;
  top  : -20%;
}
body .bottom-page .left.slider .flesh.bala{
  right : 20%;
  top : 60%;
}
body .bottom-page .left.slider .slider{
  width: 90%;
}
body .bottom-page .left.slider .slider .swiper{
  width: 100%;
  height: 600px;
  margin-top : -200px;
}
body .bottom-page .left.slider .slider .swiper .item{
  width: 95%;
  height: 100%;
  padding : 10px ;
}
body .bottom-page .left.slider .slider .swiper .item .container{
  background : #F5F6FF;
  width: 100%;
  padding : 10px 5px;
  box-sizing: border-box;
  height: 100%;
  border-radius : 10px;
}
body .bottom-page .left.slider .slider .swiper .item .container .head{
  height: 30%;
  display: flex;
  flex-wrap: wrap;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .image{
  width: 20%;
  height: 100%;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .image img{
  width: 100%;
  height: 100%;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .title{
  width: 50%;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .title .name{
  font-size : .8rem;
  padding-right : 10px;
  box-sizing: border-box;
  line-height: 1.3;
  color : #3347B0;
  font-weight: bold;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .title p{
  font-size : .8rem;
  color : #FF7020;
  line-height: 1.3;
  padding-right : 10px;
  box-sizing: border-box;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .rate{
  font-size : .8rem;
  padding-right: 10px;
  box-sizing: border-box;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .rate .comment{
  color : #7D7D7D;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .rate .star img{
  vertical-align: middle;
  width: 10px;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .flag{
  width: 20%;
}
body .bottom-page .left.slider .slider .swiper .item .container .head .flag img{
  width: 50px;
  float: left;
}
body .bottom-page .left.slider .slider .swiper .item .container .body{
  height: 50%;
}
.swiper-slide-active{
  right : 0!important;
}
.swiper-slide-active .item .container{
  background : #3347B0!important;
}

body .bottom-page .left.slider .slider .swiper .item .container .body p{
  font-size : .8rem;
  padding : 9px;
  box-sizing: border-box;
  line-height: 1.3;
}
body .bottom-page .left.slider .slider .swiper .item .container .link{
  display: none;
}
body .bottom-page .left.slider .slider .swiper .swiper-slide{
  width: 80%;
  right : 30%;
}
.swiper-slide-active .link{
  display: block!important;
  text-align: left;
  padding-left : 30px;
  box-sizing: border-box;
  padding-top : 10px;
}
.swiper-slide-active .item{
  border : 1px dashed #525FE1!important;
  border-radius : 10px;
}
.swiper-slide-active .link a{
  text-decoration : none;
  color : #fff;
  background : #525FE1;
  padding : 3px 10px;
  font-size: .9rem;
  border-radius : 5px;
}
.swiper-slide-active .link a img{
  vertical-align: middle;
}
.swiper-slide-active  .name{
  color : #fff!important;
}
.swiper-slide-active .body {
  color : #fff;
}
.swiper-button-prev , .swiper-button-next , 
.swiper-pagination.swiper-pagination-bullets , 
.swiper-scrollbar-drag , .swiper-scrollbar{
  display:none;   
}
